name: Release + Publish

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: Configure Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git config --global push.followTags true

      - name: Generate changelog and release notes
        run: |
          npx changelogen --hideAuthorEmail --release --push
          npx changelogen github release --token ${{ secrets.GITHUB_TOKEN }}

      - name: Get metadata
        run: |
          VERSION=$(jq -r '.version' package.json)
          NAME=$(jq -r '.name' package.json)

          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "NAME=$NAME" >> $GITHUB_ENV

      - name: Build
        run: npm run build

      - name: Publish to NPM Registry
        run: |
          npm set "//registry.npmjs.org/"
          npm publish --provenance --access public
